* {
    margin: 0px;
}

/*
main {
    margin: 20px;
}
*/

#image {
    width: 100%
}

/*landingpage/overskrifte */

.pil {
    cursor: pointer;
    text-align: left;
    font-size: 2rem;
    color: #E3C6B8;
    /*color: #FDD882;*/
}

article {
    font-family: 'Raleway';
    color: white;
    font-size: 2rem;
}

h1 {
    font-family: 'Josefin Sans';
    font-size: 2rem;
    color: white;
    text-align: center;
    z-index: 2;
}

h2 {
    font-family: 'Mulish';
    font-size: 3rem;
    color: #63485B;
    text-align: center;
    padding-top: 6rem;
    padding-bottom: 2rem;
    background-image: url(menu2.png);
    background-position: left;
}

p {
    color: black;
    margin: 40px;
    font-family: 'Raleway';
    line-height: 2;
}

h3 {
    text-align: center;
    font-family: 'Jura';
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

#firstux_section,
#firstani_section,
#firstweb_section,
#firstgi_section {
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    z-index: 4;
    cursor: pointer;
}

#first_sectionlanding {
    width: 100%;
    height: 100vh;
    background-image: url(watercolor.png);
    background-size: cover;
    background-position: center;
    background-position: 4%;
}

#first_sectionlanding {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: 1fr auto 1fr;
}

#first_sectionlanding div {
    grid-column: 2/3;
    grid-row: 2/3;
    padding: 2rem;
    text-align: center;
}

.billeder {
    display: grid;
    grid-template-columns: 2fr 2fr;
    padding-left: 2rem;
}

#image15 {
    width: 90%;
    border-radius: 100px;
}



/* forside*/

/* Navigation */
nav {
    position: absolute;
    text-align: center;
}

.hidden {
    opacity: 0;
    transform: translateY(0px);
}

li {
    list-style: none;
    padding: 2vh;
    margin: 30px;
}

nav ul {
    position: absolute;
    z-index: 1;
    padding-left: 0;
    background-image: url(menu2.png);
    background-size: cover;
    background-position: right;
    width: 103%;
    height: 65vh;
    margin-top: 1vh;
}

#link {
    color: black;
}

a {
    font-size: 1rem;
    padding: 1rem;
    font-family: 'Jura';
    border-right-style: none;
    color: #7E5755;
    text-decoration: none;
}

#menuItems {
    transition: transform 0.3s;
}

#menuknap {
    cursor: pointer;
    padding-top: 20px;
    padding-left: 85vw;
}

.bar1,
.bar2,
.bar3 {
    width: 40px;
    height: 2px;
    background-color: black;
    margin: 10px;
    transition: 0.4s;
}


/* Rotate first bar */
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

/* Fade out the second bar */
.change .bar2 {
    opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

/* Galleri */

#image1,
#image2,
#image3,
#image4,
#image5,
#image6,
#image7,
#image8 {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

#galleri {
    display: grid;
    grid-template-columns: 1fr;
    grid-row: 1fr;
    position: relative;
}

.imgSlide {
    grid-column: 1;
    grid-row: 1;
}

/* image controls*/
#imageControls {
    margin: 10px 0px 30px 0px;
    display: flex;
    grid-gap: 12px;
    align-items: center;
    justify-content: center;

}

/*dot indikator*/
.dot {
    flex-shrink: 0;
    width: 0.6em;
    height: 0.6em;

    background: rgba(190, 178, 169, 0.39);
    border-radius: 20px;

}

.activeDot {
    background: rgba(190, 178, 169, 0.89);
}

/*button*/
.button {
    width: 20px;
    height: 25px;
    border-radius: 4px;

    background: white;
    color: rgba(0, 0, 0, 0.40);


    font-size: 1.3em;
    cursor: pointer;
    z-index: 1;

}

.button:hover {
    background: rgba(190, 178, 169, 0.90);
    color: rgba(0, 0, 0, 0.50);

}

/*button placement*/
#next_button {
    margin-left: 30px;
    padding: 0px 2px 0px 4px;
}

#prev_button {
    margin-right: 30px;

    padding: 0px 4px 0px 2px;
}

/*for hiding images*/
.gem {
    display: none;
}


@media (min-width:600px) {

    h1 {
        font-size: 4rem;
        text-align: center;
    }

    /*forside*/

    #forside {
        color: white;
        text-align: center;
    }

    /*elementer*/

    nav ul {
        position: relative;
        background: none;
        height: 5rem;
        width: 86.5rem;
        margin: 0;
    }

    nav {
        /*        margin: 20px;*/
        padding-left: 60px;
        /*
             background-image: url(ommig.png);
        background-size: cover;
        background-position: right;
*/
    }

    #menuknap {
        display: none;
    }

    #menuItems {
        list-style: none;
        display: flex;
    }

    #menuItems.hidden {
        opacity: 1;

    }

    li {
        margin: 20px;
        font-family: 'Jura';
    }

    a {
        text-decoration: none;
        color: #7E5755;
        font-size: 17px;
        font-weight: 400;
        text-transform: uppercase;
    }

    #secondsection_julie .billeder {
        display: grid;
        grid-template-columns: 2fr 2fr;
        grid-template-rows: 1fr 1fr;
    }

    #secondsection_julie {
        display: grid;
        grid-template-rows: 2fr;
        grid-gap: 2rem;
    }

    #secondgi_section {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
        padding-top: 40px;
        padding-bottom: 40px;
    }

    #thirdgi_section {
        display: grid;
        grid-template-columns: 2fr 2fr;
        padding-top: 50px;
    }

    .gitext {
        padding-left: 2rem;
    }

    #gibilleder {
        padding-top: 4rem;
    }

    .video {
        padding-top: 2rem;
    }

    /*
    #firstux_section,
    #firstani_section,
    #firstweb_section,
    #firstgi_section {
        font-family: 'Jura';
        text-align: center;
    }
*/

    #thirdux_section {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        padding-top: 20px;
    }

    #thirdani_section {
        display: grid;
        grid-template-columns: 2fr 2fr;
        padding-top: 20px;
    }

    #thirdani_section img {
        padding-top: 1rem;
    }

    #fourthgi_section {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    #secondweb_section {
        display: grid;
        grid-template-columns: 2fr 2fr;
        padding-top: 20px;
    }

    #image1,
    #image2,
    #image3,
    #image4,
    #image5,
    #image6,
    #image7,
    #image8,
    #image9,
    #image10,
    #image11 {
        margin-left: auto;
        margin-right: auto;
        width: 60%;
    }

    .om_mig {
        padding
    }

    .billeder {
        padding-top: 3rem;
        padding-left: 17rem;
    }

    #image15 {
        width: 50%;
        border-radius: 100px;
    }

    .juliebillede1 {
        grid-row: 1;
        grid-column: 2;
    }

    .juliebillede2 {
        grid-row: 1;
        grid-column: 1;
    }

}
