* {
    margin: 0px;
}

#image {
    width: 100%
}

/*landingpage/overskrifte */

.pil {
    cursor: pointer;
    text-align: left;
    font-size: 2rem;
    color: #E3C6B8;
    /*color: #FDD882;*/
}

article {
    font-family: 'Jura';
    color: white;
    font-size: 2rem;
}

h1 {
    font-family: 'Josefin Sans';
    font-size: 2rem;
    color: #d158c3;
    text-align: center;
    z-index: 2;
}

h2 {
    font-family: 'Josefin Sans';
    font-size: 3rem;
    color: #242B26;
    text-align: center;
    padding-top: 90px;
}

#uxoverskrift,
#animationoverskrift,
#weboverskrift,
#gioverskrift {
    padding-top: 9rem;
    padding-bottom: 2rem;
}


p {
    color: orange;
    margin: 70px;
    font-family: 'Abel';
}

h3 {
    text-align: center;
    font-family: 'Jura';
    text-align: center;
    padding-top: 20px;
}

#first_sectionlanding a {
    text-decoration: none;
    color: #FFE687;
    text-align: center;
    font-family: 'Josefin Sans';
    cursor: pointer;
    font-size: 4rem;
}

#first_sectionlanding {
    width: 100%;
    height: 100vh;
    background-image: url(baggrund2.jpg);
    background-size: cover;
    background-position: center;
    background-size: cover;
    max-width: none;
    background-position: 50% 10%;
}

#first_sectionlanding {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: 1fr auto 1fr;
}

#first_sectionlanding div {
    grid-column: 2/3;
    grid-row: 2/3;
    padding: 2rem;
    text-align: center;
}

/* forside*/

/* Navigation */
nav {
    position: absolute;
    text-align: center;
}

.hidden {
    opacity: 0;
    transform: translateY(0px);
}

li {
    list-style: none;
    padding: 2vh;
    margin: 30px;
}

nav ul {
    z-index: 1;
    padding-left: 0;
}

nav a {
    font-size: 1rem;
    padding: 1rem;
    font-family: 'Jura';
    border-right-style: none;
    color: black;
}

#menuItems {
    transition: transform 0.3s;
}

#menuknap {
    cursor: pointer;
    padding-top: 60px;
    padding-left: 85vw;
}

.bar1,
.bar2,
.bar3 {
    width: 40px;
    height: 2px;
    background-color: white;
    margin: 10px;
    transition: 0.4s;
}


/* Rotate first bar */
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

/* Fade out the second bar */
.change .bar2 {
    opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

/*elementer*/

#planet1_container {
    position: absolute;
    top: 7vw;
    left: 7vw;
}

#planet1_sprite {
    background-image: url(Forside_elementer/gronplanet.svg);
    background-size: cover;
    width: 20vw;
    height: 20vw;
}

#planet2_container {
    position: absolute;
    top: 84vw;
    left: 82vw;
}

#planet2_sprite {
    background-image: url(Forside_elementer/orangeplanet.svg);
    background-size: cover;
    width: 15vw;
    height: 15vw;
}

#stjerne_container {
    position: absolute;
    top: 44vw;
    left: 74vw;
}

#stjerne_sprite {
    background-image: url(Forside_elementer/stjerne.svg);
    background-size: cover;
    width: 4vw;
    height: 4vw;
}

#stjerne2_container {
    position: absolute;
    top: 107vw;
    left: 15vw;
}

#stjerne2_sprite {
    background-image: url(Forside_elementer/stjerne.svg);
    background-size: cover;
    width: 2vw;
    height: 2vw;
}

#draabe_container {
    position: absolute;
    top: 104vw;
    left: 18vw;
}

#draabe_sprite {
    background-image: url(Forside_elementer/draabe.svg);
    background-size: cover;
    width: 2vw;
    height: 2vw;
}

#secondsection_julie .section_wrapper {
    display: grid;
    grid-template-rows: 2fr 2fr;
    /*    grid-gap: 2rem;*/
    padding-top: 80px;
    padding-bottom: 50px;
}

/* Galleri */

#image1,
#image2,
#image3,
#image4,
#image5,
#image6,
#image7,
#image8 {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#galleri {
    display: grid;
    grid-template-columns: 1fr;
    grid-row: 1fr;
    position: relative;
}

.imgSlide {
    grid-column: 1;
    grid-row: 1;
}

/* image controls*/
#imageControls {
    margin: 10px 0px 30px 0px;
    display: flex;
    grid-gap: 12px;
    align-items: center;
    justify-content: center;

}

/*dot indikator*/
.dot {
    flex-shrink: 0;
    width: 0.6em;
    height: 0.6em;

    background: rgba(190, 178, 169, 0.39);
    border-radius: 20px;

}

.activeDot {
    background: rgba(190, 178, 169, 0.89);
}

/*button*/
.button {
    width: 25px;
    height: 25px;
    border-radius: 4px;

    background: rgba(190, 178, 169, 0.40);
    color: rgba(0, 0, 0, 0.40);


    font-size: 1.3em;
    cursor: pointer;

}

.button:hover {
    background: rgba(190, 178, 169, 0.90);
    color: rgba(0, 0, 0, 0.50);

}

/*button placement*/
#next_button {
    margin-left: 360px;
    padding: 0px 2px 0px 4px;
}

#prev_button {
    margin-right: 370px;

    padding: 0px 4px 0px 2px;
}

/*for hiding images*/
.gem {
    display: none;
}


@media (min-width:600px) {

    h1 {
        font-size: 4rem;
        text-align: center;
    }

    /*forside*/

    #forside {
        color: white;
        text-align: center;
    }

    /*elementer*/

    #planet1_container {
        position: absolute;
        top: 4vw;
        left: 4vw;
    }

    #planet1_sprite {
        background-image: url(Forside_elementer/gronplanet.svg);
        background-size: cover;
        width: 9vw;
        height: 9vw;
    }

    #planet2_container {
        position: absolute;
        top: 32vw;
        left: 82vw;
    }

    #planet2_sprite {
        background-image: url(Forside_elementer/orangeplanet.svg);
        background-size: cover;
        width: 6vw;
        height: 6vw;
    }

    #stjerne_container {
        position: absolute;
        top: 14vw;
        left: 74vw;
    }

    #stjerne_sprite {
        background-image: url(Forside_elementer/stjerne.svg);
        background-size: cover;
        width: 2vw;
        height: 2vw;
    }

    #stjerne2_container {
        position: absolute;
        top: 13vw;
        left: 28vw;
    }

    #stjerne2_sprite {
        background-image: url(Forside_elementer/stjerne.svg);
        background-size: cover;
        width: 2vw;
        height: 2vw;
    }

    #draabe_container {
        position: absolute;
        top: 48vw;
        left: 21vw;
    }

    #draabe_sprite {
        background-image: url(Forside_elementer/draabe.svg);
        background-size: cover;
        width: 2vw;
        height: 2vw;
    }

    nav {
        margin: 20px;
        padding-left: 50px;
    }

    #menuknap {
        display: none;
    }

    #menuItems {
        list-style: none;
        display: flex;
    }

    #menuItems.hidden {
        opacity: 1;

    }

    li {
        margin: 20px;
        font-family: 'Jura';
    }

    a {
        text-decoration: none;
        color: black;
        font-size: 17px;
        font-weight: 400;
        text-transform: uppercase;
    }

    #secondsection_julie .section_wrapper {
        display: grid;
        grid-template-columns: 2fr 2fr;
        /*    grid-gap: 2rem;*/
        padding-top: 80px;
        padding-bottom: 50px;
    }

    #secondgi_section {
        display: grid;
        grid-template-columns: 2fr 2fr;
        gap: 2rem;
        padding-top: 40px;
        padding-bottom: 40px;
    }

    #thirdgi_section {
        display: grid;
        grid-template-columns: 2fr 2fr;
        padding-top: 50px;
    }

    .video {
        padding-left: 6rem;
    }

    #firstux_section,
    #firstani_section,
    #firstweb_section,
    #firstgi_section {
        font-family: 'Jura';
        text-align: center;
    }

    #thirdux_section {
        display: grid;
        grid-template-columns: 2fr 2fr;
        grid-template-rows: 1fr 1fr;
        padding-top: 20px;
    }

    #thirdani_section {
        display: grid;
        grid-template-columns: 2fr 2fr;
        grid-template-rows: 2fr 2fr 2fr;
        padding-top: 20px;
    }

    #secondweb_section {
        display: grid;
        grid-template-columns: 2fr 2fr;
        padding-top: 20px;
    }

}

/*
nav a:hover {
    color: #E3C6B8;
}
*/
