* {
    margin: 0;
}

/*landingpage*/

#first_section a {
    text-decoration: none;
    color: #FFE687;
    font-family: 'Josefin Sans';
    cursor: pointer;
    font-size: 5rem;
}

article {
    font-family: 'Jura';
    color: white;
    font-size: 2rem;
}

h1 {
    font-family: 'Josefin Sans';
    font-size: 5rem;
    color: #051A61;
    text-align: center;
}

p {
    color: #E2BDEF;
}

#first_section {
    width: 100%;
    height: 100vh;
    background-image: url(baggrund-100.jpg);
    background-size: cover;
    background-position: center;
    background-size: cover;
    max-width: none;
    background-position: 30% 10%;
}

#first_section {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: 1fr auto 1fr;
}

#first_section div {
    grid-column: 2/3;
    grid-row: 2/3;
    padding: 2rem;
    text-align: center;
}

/*forside*/

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    min-height: 100vh;
    background: rgb(53, 24, 209);
    background: radial-gradient(circle, rgba(53, 24, 209, 0.6881127450980392) 0%, rgba(255, 255, 255, 1) 77%);
}

#forside {
    color: white;
    text-align: center;
}

/* Navigation */

nav {
    /*    margin: 20px;*/
    padding: 16px;
}

.menuItems {
    list-style: none;
    display: flex;
}

li {
    margin: 20px;
    font-family: 'Jura';
}

a {
    text-decoration: none;
    color: #051A61;
    font-size: 17px;
    font-weight: 400;
    text-transform: uppercase;
}

/*elementer*/

#planet1_container {
    position: absolute;
    top: 4vw;
    left: 4vw;
}

#planet1_sprite {
    background-image: url(Forside_elementer/gronplanet.svg);
    background-size: cover;
    width: 9vw;
    height: 9vw;
}

#planet2_container {
    position: absolute;
    top: 32vw;
    left: 82vw;
}

#planet2_sprite {
    background-image: url(Forside_elementer/orangeplanet.svg);
    background-size: cover;
    width: 6vw;
    height: 6vw;
}

#stjerne_container {
    position: absolute;
    top: 14vw;
    left: 74vw;
}

#stjerne_sprite {
    background-image: url(Forside_elementer/stjerne.svg);
    background-size: cover;
    width: 2vw;
    height: 2vw;
}

#stjerne2_container {
    position: absolute;
    top: 40vw;
    left: 28vw;
}

#stjerne2_sprite {
    background-image: url(Forside_elementer/stjerne.svg);
    background-size: cover;
    width: 2vw;
    height: 2vw;
}

#draabe_container {
    position: absolute;
    top: 37vw;
    left: 31vw;
}

#draabe_sprite {
    background-image: url(Forside_elementer/draabe.svg);
    background-size: cover;
    width: 2vw;
    height: 2vw;
}

@mediaquery (min-width:)
