body {
    background: radial-gradient(circle, rgba(53, 24, 209, 0.6881127450980392) 0%, rgba(255, 255, 255, 1) 77%);
}

img {
    width: 100%;
}

h2 {
    font-family: 'Josefin Sans';
    font-size: 5rem;
    color: #FFE687;
    text-align: center;
    margin-block-start: 0.0rem;
}

/* Navigation */

nav {
    /*    margin: 20px;*/
    padding: 16px;
    padding-left: 200px;
}

.menuItems {
    list-style: none;
    display: flex;
}

li {
    margin: 21px;
    font-family: 'Jura';
}

a {
    text-decoration: none;
    color: #051A61;
    font-size: 17px;
    text-transform: uppercase;
}

#firstux_section {
    font-family: 'Jura';
    text-align: center;
}

/*billedgalleri*/

#secondux_section {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr;
    padding-top: 20px;
    margin: 3rem;
    grid-gap: 2rem;
}

#thirdux_section {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr;
    margin: 3rem;
    grid-gap: 2rem;
}
