img {
    width: 20%;
    height: 20%;
}

h2 {
    font-family: 'Josefin Sans';
    font-size: 5rem;
    color: #FFE687;
    text-align: center;
    margin-block-start: 0.0rem;
}

/* Navigation */

nav {
    /*    margin: 20px;*/
    padding: 16px;
    padding-left: 200px;
}

.menuItems {
    list-style: none;
    display: flex;
}

li {
    margin: 21px;
    font-family: 'Jura';
}

a {
    text-decoration: none;
    color: #051A61;
    font-size: 17px;
    text-transform: uppercase;
}


/*billedgalleri*/

/*
#secondux_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
*/

.column {
    float: center;
    width: 14.28%;
    padding: 10px;
}

/* Style the images inside the grid */
.column img {
    opacity: 0.8;
    cursor: pointer;
}

.column img:hover {
    opacity: 1;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* The expanding image container (positioning is needed to position the close button and the text) */
.container {
    width: 20%;
    position: relative;
    display: none;
}

/* Expanding image text */
#imgtext {
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: white;
    font-size: 20px;
}

/* Closable button inside the image */
.closebtn {
    position: absolute;
    top: 10px;
    right: 15px;
    color: white;
    font-size: 35px;
    cursor: pointer;
}
